<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.an9elkiss.api.timedo.dao.TimeEntryDao">

	<insert id="save" parameterType="TimeEntry" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_time_entry
		(date, type_id, comment, duration, status, create_by, update_by)
		values
		(#{date}, #{typeId}, #{comment}, #{duration}, #{status}, #{createBy}, #{createBy});
	</insert>
	  
	<update id="update" parameterType="TimeEntry">
		UPDATE t_img 
		SET date=#{date}
		, type_id=#{typeId}
		, comment=#{comment}
		, duration=#{duration}
		, update_by=#{updateBy}
		where id=#{id}
	</update>
	
</mapper>